.main {
  margin-top: 84px;
  height: auto;
}

.main__contactSection__bottom {
  border-top: 0;
}

.main__contactSection__bottom__before {
  height: 166px;
  padding: 50px 0;
  border: 1px solid #262626;
  border-top: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.main__contactSection__bottom__before__card__icon,
.main__contactSection__bottom__before__card__icon__svg {
  margin-right: 14px;
  width: 30px;
  height: 30px;
}

.main__contactSection__bottom__before__card {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 18px 24px;
  height: 66px;
  background-color: rgba(38, 38, 38, 1);
  border-radius: 8px;
}

.main__contactSection__bottom__before__card__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  height: 30px;
  text-wrap: nowrap;
}

.main__contactSection__bottom__after {
  height: 154px;
  display: flex;
  border: 1px solid #262626;
  border-bottom: 0;
  justify-content: space-between;
}

.main__contactSection__bottom__after__leftPart {
  border-right: 1px solid #262626;
  display: flex;
  justify-content: end;
  padding: 50px 80px;
}

.main__contactSection__bottom__after__rightPart {
  display: flex;
  justify-content: start;
  padding: 31px 80px;
}

.main__contactSection__bottom__after__leftPart,
.main__contactSection__bottom__after__rightPart {
  width: 100%;
}

.main__contactSection__bottom__after__rightPart__subContainer {
  margin-top: 0;
}

.main__contactSection__bottom__after__leftPart__text {
  height: fit-content;
  font-weight: 500;
  font-size: 22px;
  margin-top: 10.5px;
  line-height: 33px;
}

.main__contactSection__bottom__after__leftPart__designedText {
  width: fit-content;
  height: fit-content;
  border-radius: 6px;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  background-color: rgba(38, 38, 38, 1);
}

.main__contactSection__bottom__after__leftPart__textContainer {
  display: flex;
  justify-content: space-between;
  width: 355px;
}

@media screen and (max-width: 1756px) {
  .main__contactSection__bottom__before {
    height: 132px;
    padding: 40px 0;
    gap: 20px;
  }

  .main__contactSection__bottom__before__card__icon,
  .main__contactSection__bottom__before__card__icon__svg {
    margin-right: 14px;
    width: 24px;
    height: 24px;
  }

  .main__contactSection__bottom__before__card {
    height: 52px;
    border-radius: 6px;
    padding: 14px 20px;
  }

  .main__contactSection__bottom__before__card__text {
    height: 24px;
    font-size: 16px;
    line-height: 24px;
  }

  .main__contactSection__bottom__after__leftPart__text {
    font-size: 16px;
    margin-top: 10px;
    line-height: 24px;
  }

  .main__contactSection__bottom__after__leftPart__designedText {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 24px;
  }

  .main__contactSection__bottom__after {
    height: 144px;
  }

  .main__contactSection__bottom__after__leftPart__textContainer {
    width: 277px;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    margin-top: 105px;
  }

  .main__contactSection__bottom__before {
    height: 280px;
    flex-wrap: wrap;
    padding: 30px 24px;
    gap: 20px;
  }

  .main__contactSection__bottom__before__card {
    height: 60px;
    padding: 18px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .main__contactSection__bottom__after {
    height: 237px;
    flex-wrap: wrap;
  }

  .main__contactSection__bottom__after__leftPart__text {
    margin-top: 8.5px;
  }

  .main__contactSection__bottom__after__leftPart__designedText {
    height: 41px;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 21px;
  }

  .main__contactSection__bottom__after__leftPart {
    padding: 20px 0;
  }

  .main__contactSection__bottom__after__rightPart {
    padding: 20px 20px 40px;
    border-top: 1px solid #262626;
  }

  .main__contactSection__bottom__after__leftPart,
  .main__contactSection__bottom__after__rightPart {
    height: fit-content;
    justify-content: center;
  }

  .main__contactSection__bottom__after__rightPart__subContainer {
    padding: 0;
    border: 0;
    height: 96px;
  }
}